<body>
    <!-- outputview component -->
    <div>
        <style>
            .bubble {
                width: 300px;
                height: 100px;
                border-radius: 10px;
                background-color: aquamarine;
            }
        
            .message {
                position: relative;
                margin-left: 20px;
                padding: 10px;
            }
        
            .author_content {
                display: flex;
            }
        
            .author {
                width: 100px;
            }
        
            .output {
                border: lightblue solid 2px;
                height: 600px;
                overflow: scroll;
            }
        </style>
    
        <template id="output_template">
            <div class="output" ref="view">
                <div v-for="msg in prop_messages" class="message">
                    {{ msg.date }}
                    <div class="author_content">
                        <div class="author">
                            {{ msg.author }}:
                        </div>
                        <div class="bubble">
                            {{ msg.content }}
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
    
    <!-- dialog template -->
    <div>
        <style>
            .input {
                display: flex;
                position: relative;
            }
            .stage {
                width: 90%;
            }
            .submit {
                position: absolute;
                right: 0;
                height: 100%;
            }
        </style>
        <template id="dialog_template">
            <output-view :prop_messages="messages"></output-view>
            <div class="input">
                <textarea v-model="stage" class="stage"></textarea>
                <button @click="submit" class="submit">send</button>
            </div>
        </template>
    </div>

    <!-- chat panel template -->
    <div>
        <style>
            .chat-panel {
                display: flex;
            }
            .contact-list {
                width: 100px;
                list-style-type: none;
            }
            .contact {
                border: 1px solid lightgray;
                display: inline-block;
                width: 100%;
            }
            .contact:hover {
                background-color: lightgray;
            }
            .active-contact {
                background-color: lightskyblue;
                display: inline-block;
                width: 100%;
            }
        </style>
        <template id="chat_panel_template">
            <div class="chat-panel">
                <ul class="contact-list">
                    <li v-for="name in Object.keys(message_history)" @click="set_current_contact(name)">
                        <span :class=" (name == current_contact)? 'active-contact': 'contact' ">
                            {{ name }}
                        </span>
                    </li>
                </ul>
                <div>
                    <keep-alive>
                        <chat-dialog
                            :prop_messages="message_history[current_contact]"
                            :prop_name="current_contact"
                            :key="current_contact">
                        </chat-dialog>
                    </keep-alive>
                </div>
            </div>
        </template>
    </div>


    <div>
        <template id="login_form">
            <dialog ref="fail_dialog">
                {{ error_msg }}
                <form method="dialog">
                    <button>ok</button>
                </form>
            </dialog>
            <label>
                <span>username</span>
                <input v-model="username">
            </label>
            <label>
                <span>username</span>
                <input type="password" v-model="password">
            </label>
            <button @click="login">
                login
            </button>
        </template>
    </div>

    <!-- main app -->
    <div>
        <div>
            main app
        </div>
        <div id="app">
            <div v-if="current_panel == 'LoginForm'" >
                <login-form @auth-success="set_chat_panel"></login-form>
            </div>
            <div v-else>
                <chat-panel></chat-panel>
            </div>
        </div>
    </div>

    <script type="module">
        import * as vue from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';    

        class Message {
            constructor(author, date, content) {
                this.date = date
                this.author = author
                this.content = content
            }
        }
    
        let OutputView = {
            template: '#output_template',
            props: ['prop_messages'],
            updated() {
                this.$refs.view.scrollTop = this.$refs.view.scrollHeight;
            },
            mounted() { // fixme: no effect
                this.$refs.view.scrollTop = this.$refs.view.scrollHeight;
            }
        }

        let ChatDialog = {
            template: '#dialog_template',
            props: ['prop_messages', 'prop_name'],
            data() {
                return {
                    event_source: this.init_event_source(),
                    messages: this.init_messages(),
                    stage: ''
                }
            },
            components: {
                OutputView
            },
            methods: {
                init_event_source() {
                    if (this.prop_name == 'public') {
                        let event_source = new EventSource('/message_events')
                        let this_component = this;
                        event_source.onmessage = (e) => {
                            let message_json = JSON.parse(e.data)
                            let message = new Message(message_json.username, (new Date()).toUTCString(), message_json.content)
                            this_component.messages.push(message);
                        }
                        event_source.onerror = (e) => {
                            let message = new Message('[system]', (new Date()).toUTCString(), e.type)
                            this_component.messages.push(message);
                        }
                        return event_source
                    } else {
                        return null
                    }
                },
                init_messages() {
                    return this.prop_messages.map((s) => new Message(this.prop_name, (new Date()).toUTCString(), s))
                },
                async submit() {
                    if (this.prop_name == 'public') {
                        let rsp = await fetch('/send_message', {
                            method: 'POST',
                            headers: {
                                "Content-Type": "application/json",
                            },
                            body: JSON.stringify({
                                'content': this.stage
                            })
                        })
                        this.stage = ''
                        if (rsp.status != 200) {
                            let body = await rsp.text()
                            this.messages.push(new Message('[system]', (new Date()).toUTCString(), `${rsp.status}:${body}`));
                        }
                    } else {
                        this.messages.push(new Message('me', (new Date()).toUTCString(), this.stage));
                        this.stage = ''
                    }
                }
            }
        }

        let LoginForm = {
            template: '#login_form',
            data() {
                return {
                    'username': 'frank',
                    'password': 'password',
                    'error_msg': ''
                }
            },
            emits: ['authSuccess'],
            methods: {
                async login() {
                    console.log('clicked')
                    let auth_rsp = await fetch('/auth', {
                        method: 'POST',
                        headers: {
                            "Content-Type": "application/json",
                        },
                        body: JSON.stringify({
                            'username': this.username,
                            'password': this.password,
                        })
                    })
                    if (auth_rsp.status != 200) {
                        this.error_msg = await auth_rsp.text()
                        this.$refs.fail_dialog.showModal()
                    } else {
                        this.$emit('authSuccess')
                    }
                }
            }
        }

        let ChatPanel = {
            template: '#chat_panel_template',
            data() {
                return {
                    current_contact: 'boss',
                    event_source: null,
                    message_history: {
                        'public': [],
                        'boss': [
                            'hello',
                            'hi',
                            'nice to meet you',
                            'i am find',
                            'how is your day',
                        ],
                        'friend': [
                            'good mordning',
                            'how have you been'
                        ],
                        'coworker': [
                            'how about a drink later ?'
                        ]
                    }
                }
            },
            components: {
                ChatDialog
            },
            methods: {
                set_current_contact(s) {
                    this.current_contact = s
                }
            }
        }

        let main_app = vue.createApp({
            data() {
                return {
                    current_panel: 'LoginForm'
                }
            },
            methods: {
                set_chat_panel() {
                    console.log("setting chat panel")
                    this.current_panel = 'ChatPanel'
                }
            },
            components: {
                LoginForm,
                ChatPanel
            }
        })
        main_app.mount('#app')
    </script>
</body>
