<body>
    <!-- outputview component -->
    <div>
        <style>
            .bubble {
                width: 300px;
                height: 100px;
                border-radius: 10px;
                background-color: aquamarine;
            }
        
            .message {
                position: relative;
                margin-left: 20px;
                padding: 10px;
            }
        
            .author_content {
                display: flex;
            }
        
            .author {
                width: 100px;
            }
        
            .output {
                border: lightblue solid 2px;
                height: 600px;
                overflow: scroll;
            }
        </style>
    
        <template id="output_template">
            <div class="output" ref="view">
                <div v-for="msg in prop_messages" class="message">
                    {{ msg.date }}
                    <div class="author_content">
                        <div class="author">
                            {{ msg.author }}:
                        </div>
                        <div class="bubble">
                            {{ msg.content }}
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
    
    <!-- dialog template -->
    <div>
        <style>
            .input {
                display: flex;
                position: relative;
            }
            .stage {
                width: 90%;
            }
            .submit {
                position: absolute;
                right: 0;
                height: 100%;
            }
        </style>
        <template id="dialog_template">
            <output-view :prop_messages="messages" ></output-view>
            <div class="input">
                <textarea v-model="stage" class="stage"></textarea>
                <button @click="submit" class="submit">send</button>
            </div>
        </template>
    </div>

    <!-- app -->
    <div>
        <style>
            .chat-app {
                display: flex;
            }
            .contact-list {
                width: 100px;
                list-style-type: none;
            }
            .contact {
                border: 1px solid lightgray;
                display: inline-block;
                width: 100%;
            }
            .contact:hover {
                background-color: lightgray;
            }
            .active-contact {
                background-color: lightskyblue;
                display: inline-block;
                width: 100%;
            }
        </style>
        <div id="app" class="chat-app">
            <ul class="contact-list">
                <li v-for="name in Object.keys(message_history)" @click="set_current_contact(name)">
                    <span :class=" (name == current_contact)? 'active-contact': 'contact' ">
                        {{ name }}
                    </span>
                </li>
            </ul>
            <div>
                <keep-alive>
                    <chat-dialog :prop_messages="message_history[current_contact]" :prop_name="current_contact" :key="current_contact"></chat-dialog>
                </keep-alive>
            </div>
        </div>
    </div>
    <script type="module">
        import * as vue from 'https://unpkg.com/vue@3/dist/vue.esm-browser.js';
    
        class Message {
            constructor(author, date, content) {
                this.date = date
                this.author = author
                this.content = content
            }
        }
    
        let OutputView = {
            template: '#output_template',
            props: ['prop_messages'],
            updated() {
                this.$refs.view.scrollTop = this.$refs.view.scrollHeight;
            },
            mounted() { // fixme: no effect
                this.$refs.view.scrollTop = this.$refs.view.scrollHeight;
            }
        }

        let ChatDialog = {
            template: '#dialog_template',
            props: ['prop_messages', 'prop_name'],
            data() {
                return {
                    messages: this.init_messages(),
                    stage: ''
                }
            },
            components: {
                OutputView
            },
            methods: {
                init_messages() {
                    return this.prop_messages.map((s) => new Message(this.prop_name, (new Date()).toUTCString(), s))
                },
                submit() {
                    this.messages.push(new Message('me', (new Date()).toUTCString(), this.stage));
                    this.stage = ''
                }
            }
        }

        let app = vue.createApp({
            data() {
                return {
                    current_contact: 'boss',
                    message_history: {
                        'boss': [
                            'hello',
                            'hi',
                            'nice to meet you',
                            'i am find',
                            'how is your day',
                        ],
                        'friend': [
                            'good mordning',
                            'how have you been'
                        ],
                        'coworker': [
                            'how about a drink later ?'
                        ]
                    }
                }
            },
            components: {
                ChatDialog
            },
            methods: {
                set_current_contact(s) {
                    this.current_contact = s
                }
            }
        });
        app.mount('#app')
    </script>
</body>
